:root {
    --dark1: #121517;
    --dark2: #1B1E21;
    --dark3: #23272B;
    --dark4: #2F3439;
    --red: rgb(215, 56, 94);
    --blue: rgba(40, 189, 229, .7);
    --yellow: rgba(227, 214, 34, .7);
}

body {
    background-color: var(--dark1);
    color: #cccccc;
}

.text-monospace {
    font-size: 35px;
    word-wrap: break-word;
}

.text-small {
    font-size: 20px;
}

a, a:hover {
    text-decoration: none;
}

#text {
    height: 160px;
    padding: 2px 15px 15px 15px;
    overflow: hidden;
    border-bottom: 0px solid var(--danger);
}

#linea {
    outline: 1px solid var(--primary);
    margin-top: -4px;
}

.bg-dark {
    background-color: var(--dark2)!important;
    color: #cccccc!important;
    text-decoration: none;
}

.bg-dark:hover, .bg-dark:active, .bg-dark:focus {
    background-color: var(--dark4)!important;
    color: white!important;
}

.bg-light {
    background-color: #f0f0f0!important;
    color: var(--dark1)!important;
    text-decoration: none;
}

.w-0, .w-0:focus {
    color: transparent!important;
    width: 1px!important;
    height: 1px!important;
    overflow: hidden!important;
    border: none!important;
    outline: none!important;
    background-image: none!important;
    background-color: transparent!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}

@media only screen and (max-width: 991px) {
    .text-monospace {
        font-size: 26px;
        word-wrap: break-word;
    }
    .text-small {
        font-size: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .text-monospace {
        font-size: 26px;
        word-wrap: break-word;
    }
    .text-small {
        font-size: 20px;
    }
}

@media only screen and (max-width: 575px) {
    .text-justify{
        text-align: justify!important;
    }
    #text{
        padding: 0px;
    }
    .text-monospace {
        font-size: 26px;
        word-wrap: break-word;
    }
    .text-small {
        font-size: 20px;
    }
}